@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: o;
    padding: 0;
    border: none;
}
 
body {
    background-color:	rgb(128, 128, 128);
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* heading and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:brown;
}
#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
    line-height: 75px;
}

/* navigation links */
 
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

menu:a {
    text-decoration: none;
    color: inherit;
}

menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* paints image and cover text */

#paints {
    height: 400px;
    width: 100%;
    position:relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#paints-image {
    height: 400px;
    width: 100%;
    background: url(../css/perfect-image.jpeg);
    background-repeat: no-repeat;
}


#cover-text {
font-size: 130%;
font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;

width: 300px;
height: 200px;

padding-top: 40px;
padding-left: 10px;

background-color: rgba(241, 109, 107, 0.7);

bottom: 30px;
right: 150px;

position: absolute;
}

/* background image */

#artist {
        background-color: ;
        background-size: cover;
        background-position: center;
        width: 100%;
}

/* artist */

#leonardo {
    background-color:rgb(240, 245, 245);
    position:static;
    top: 16px;
    left: 20px;
   
}

#pablo-picasso {
    background-color: rgb(240, 245, 245);
    position:static;
    top: 16px;
    left: 20px;
    
}

#roy-lichtenstein {
    background-color:rgb(240, 245, 245);
    position: static;
    top:16px; 
    left: 20px;
    bottom: 30px
}

.leonardo {
	width: 50% ;
	margin: 50px;
	display:block;
    padding: 0%;
}
.pablo-picasso {
    width: 50% ;
    padding:0% ;
    display:block;
    margin: 50px;
}

.roy-lichtenstein {
    width: 50%;
    padding:0% ;
    display:block; 
    margin: 50px;
}

.text.em {
    font-family:'Kolker Brush', cursive;
    font-weight: 400;
}

#image-pablo {
    font-weight: 1200px;
    height: 300px;
    position:relative;
    right: 0px;
    border-right: 100%;
}
#image-leonardo {
    width: 1px;
    height: 100%;
    position:relative;
    right: 20px;
    left: 60%;
    top: 16px;
    display: block;
}
#image-roy {
     font-weight: 1200px;
    height: 300px;
    position:relative;
    right: 0px;
    border-right: 100%;

}






